@font-face {
    font-family: 'Afacad';
    src: url('fonts/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@page {
    size: A3;
    margin: 1cm;
    background-color: ivory;
}

body {
    font-family: 'Afacad';
    width: 100%;
    height: 100%;
    border: 5px solid #4e1313;
    box-sizing: border-box;
    padding: 0.5cm;
    /* Adjust as needed */
    /* Other styling as needed */
}

/* body {
    font-family: 'Nunito', sans-serif;
} */

/* Other CSS rules */